body {
  background-color: gray;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 10px;
}

.info {
  background-color: green;
  width: 500px;
  padding: 50px 0px;
}

.logo {
  border-radius: 55%;
  padding: 10px;
  margin-left: 20px;
}

.info ul,
.info li {
  margin-left: 30px;
  
}

hr {
  border: 1px solid black;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.schools table,
.schools th,
.schools td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}

.schools th {
  background-color: lightyellow;
}

.hobby {
  background-color: green;
  padding: 10px;
}

.experiences tr,
.experiences td {
  border: 1px solid black;
  padding: 10px;
}

.footer{
  display: flex;
  justify-content: center;

}
